{% extends 'base.html.twig' %}
{% block title %}accueil{% endblock %}
{% block stylesheets %}
    <link href="/css/homepage_1.css" id="rtl5-css" rel="stylesheet">
    {% endblock %}
    {% block body %}
        {% if restaurants | length > 0 %}
            <section id="best-ads">
                <div class="container">
                    <div class="titre mt-3 px-3">
                        <h3>les restaurants les mieux notés</h3>
                    </div>
                    <div class="best-ads-liste-wrapper px-2">
                        {% for top in toprestaurants %}
                            <div class="box card d-flex align-items-start flex-column">
                                <img class="imgBside" src="{{asset('/uploads/coverimages/' ~ top.restaurants.coverimages) }}" alt="Imgage de présenation du restaurant {{ top.restaurants.name}}">
                                    <div class="mx-auto px-2">
                                        <div>
                                            <h5 class="card-title">
                                                <a href="{{path('restaurant_show', {'slug': top.restaurants.slug})}}">
                                                    <h4>
                                                        {{top.restaurants.name}}</h4>
                                                </a>
                                            </h5>
                                        </div>
                                        <div>
                                            <span class="d-flex flex-row">
                                                <i class="fas fa-map-marker-alt">
                                                    {{top.restaurants.city}}
                                                </i>
                                            </span>
                                        </div>
                                        <div>
                                            odio officiis laudantium! Minima nihil Lorem ipsum dolor sit amet consectetur adipisici                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             odio officiis laudantium! Minima nihils
                                        </div>
                                        <a class="btn btn-success mb-3 Rt-link align-self-center" href="{{path('restaurant_show', {'slug': top.restaurants.slug})}}">
                                            <strong>Détail</strong>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
                <section>
                    <div class="container">
                        <div class="px-3">
                            <h3>les restaurants les plus réservés</h3>
                        </div>
                        <div class="most-reserved-resto-wraper px-2">
                            {% for top in toprestaurants %}
                                <div class="card box">
                                    <div class="image">
                                        <img src="{{asset('/uploads/coverimages/' ~ top.restaurants.coverimages) }}" alt="Imgage de présenation du restaurant"></div>
                                        <div class="info">
                                            <a href="{{path('restaurant_show', {'slug': top.restaurants.slug})}}">
                                                <h4>
                                                    {{top.restaurants.name}}</h4>
                                            </a>
                                            <br>
                                                <span class="rt-star-sml mt-3 mb-3">
                                                    {% include 'partials/rating.html.twig' with {
                                    'rating' : top.restaurants.getRatingsAvg()
                                }
 %}
                                                </span>
                                                <h6>
                                                    {{top.restaurants.adress}}</h6>
                                                <h6></div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </section>
                        {% endif %}
                    {% endblock %}
                