{% extends '/admin/base.html.twig' %}

{% block title %}Admin accueil
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <dic class="col">
                    <div class="card bg-primary text-white mb-3 text-center">
                        <div class="car-body">
                            <div class="row py-3">
                                <div class="col-4">
                                    <i class="fas fa-utensils fa-3x"></i>
                                </div>
                                <div class="col-8">
                                    <h1>{{statdata.restaurantscount}}</h1>
                                </div>

                            </div>
                        </div>
                    </div>

                </dic>
                <dic class="col">
                    <div class="card bg-dark text-white mb-3 text-center">
                        <div class="car-body">
                            <div class="row py-3">
                                <div class="col-4">
                                    <i class="fas fa-folder fa-3x"></i>
                                </div>
                                <div class="col-8">
                                    <h1>{{statdata.bookingscount}}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </dic>
                <div class="col">
                    <div class="card bg-success text-white mb-3 text-center">
                        <div class="car-body">
                            <div class="row py-3">
                                <div class="col-4">
                                    <i class="fas fa-comments fa-3x"></i>
                                </div>
                                <div class="col-8">
                                    <h1>{{statdata.commentscount}}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card bg-warning text-white mb-3 text-center">
                        <div class="car-body">
                            <div class="row py-3">
                                <div class="col-4">
                                    <i class="fas fa-users fa-3x"></i>
                                </div>
                                <div class="col-8">
                                    <h1>{{statdata.userscount}}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-6">
                    <div class="alert alert-success">
                        <h2>
                            <i class="fas fa-arrow-up"></i>
                            Les tops restaurants</h2>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-centerpx-3">Nom</th>
                                    <th class="text-centerpx-3">Ville</th>
                                    <th class="text-centerpx-3">Note</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in bestRestaurant %}
                                    <tr>
                                        <td class="text-centerpx-3">{{item.name}}</td>
                                        <td class="text-centerpx-3">{{item.city}}</td>
                                        <td class="text-center px-3">
                                            <span class="badge badge-pill badge-dark">{{item.note|number_format(1,",", " ")}}</span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="alert alert-danger">
                        <h2>
                            <i class="fas fa-arrow-down"></i>
                            Les flops restaurants</h2>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-centerpx-3">Nom</th>
                                    <th class="text-centerpx-3">Ville</th>
                                    <th class="text-centerpx-3">Note</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in worstRestaurant %}
                                    <tr>
                                        <td class="text-centerpx-3">{{item.name}}</td>
                                        <td class="text-centerpx-3">{{item.city}}</td>
                                        <td class="text-center px-3">
                                            <span class="badge badge-pill badge-dark">{{item.note|number_format(1,",", " ")}}</span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {#  #}
        </div>
    </div>

{% endblock %}