{% extends 'base.html.twig' %}
{% block title %}Reservation n°{{booking.id}}
{% endblock %}
{% block body %}
    {% set restau = booking.restaurant %}

    {% if app.request.query.get('withAlert') %}
        <div class="container mt-2">
            <div class="alert alert-success">
                <h4 class="alert-heading">Barvo !</h4>
                <p>Votre réservation à bien été prise en compte</p>
            </div>
        </div>
    {% endif %}
    <div class="container">
        <div class="d-flex flex-column flew-wrapp">
            <div class="d-flex flex-row flex-wrap">
                <div class="col-md-6">
                    <div class="card">
                        <h3 class="header-form  d-flex align-items-center px-3">Réservation n° :
                            {{booking.id}}</h3>
                        <h5 class="card-title">Récapitulatif de votre réservation</h5>
                        <div class="dropdown-divider"></div>
                        <div class="px-3 py-3">
                            <h6 class="card-subtitle text-muted">
                                <p class="card-text mb-2">Date de la reservation
                                    <i class="far fa-calendar-alt"></i>
                                    {{booking.startDate | date('d/m/Y')}}
                                </p>

                            </h6>
                            <h6>
                                <p class="card-text mb-2">Heure de la reservation
                                    <i class="far fa-clock"></i>
                                    {{booking.startHour}}
                                </p>

                            </h6>
                            <h6>
                                <p class="card-text">Nombre de personne
                                    <i class="fas fa-users"></i>
                                    {{booking.numberOfPeople}}
                                </p>
                            </h6>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="d-flex flex-column">
                            <div class="alert alerd-light d-flex flex-column">
                                {# {% if date() > booking.startDate %} #}
                                <h2 class="alert-heading">Votre avis compte</h2>
                                {% set comment = booking.restaurant.getCommentAuthor(app.user) %}

                                {% if comment is not null %}
                                    <blockquote>
                                        {{comment.content}}
                                    </blockquote>
                                    <strong>Note :
                                    </strong>
                                    <div>
                                        {% include 'partials/rating.html.twig' with {

                                            'rating' : comment.rating
                                        }
 %}
                                    </div>
                                    <div>
                                        <a href="{{path('restaurant_show', {'slug': restau.slug})}}" class="btn btn-success w100 mt-3 btn-recapBooking">OK</a>
                                    </div>
                                {% else %}
                                    {{ form_start(form)}}
                                    {{ form_widget(form)}}
                                    <button type="submit" class="btn btn-success">Confirmer</button>
                                    {{ form_end(form)}}
                                {% endif %}
                                {# {% endif %} #}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="card">
                        <img class="h400" src="{{restau.coverimages}}" alt="Card image">
                        <div class="px-3 py-3">
                            <p class="card-text mt-2">
                                <h3>{{restau.name}}</h3>
                            </p>
                            <p class="card-text">
                                <h4>{{restau.adress}}</h4>
                            </p>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    {# eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee #}

{% endblock %}