{% extends 'base.html.twig' %}
{% block title %}Nos magnifiques annonces{% endblock %}
{% block body %}
    <div class="container px-3 Rt-content-center">
        {# formulaire de recherche #}

        <div class="form-group Rt-content-center mt-3">
            {{form_start(form)}}
            <div class="row ">
                <div class="col-md-4 col-sm-12 mt-3">
                    {{form_widget(form.language)}}
                </div>
                <div class="col-md-4 col-sm-12 mt-3">
                    {{form_widget(form.city)}}
                </div>
                <div class="col-md-4 col-sm-12 mt-3">
                    <button class="btn btn100 btn-outline-primary" type="submit">Recherche</button>
                </div>
            </div>
            {{form_end(form)}}
        </div>

        {# ============================ #}
        <hr>
        <div class="row Rt-content-center px-3">
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 ">
                {% include 'partials/list.html.twig' with {
                    'buffer' : restaurants,
                    'bufferType' : 'restaurant'
                }
 %}
                <div class="d-flex justify-content-center mb-5">
                    <ul class="pagination">
                        <li class="page-item {% if currentpage == 1 %} disabled {% endif %}">
                            <a class="page-link" href="{{path('restaurant_pagination',{'page':currentpage-1})}}">&laquo;</a>
                        </li>

                        {% for i in 1..pageacount %}
                            <li class="page-item {% if currentpage == i%}active{% endif %}">
                                <a class="page-link" href="{{path('restaurant_pagination',{'page':i})}}">{{i}}</a>
                            </li>
                        {% endfor %}
                        <li class="page-item {% if currentpage == pageacount %} disabled {% endif %}">
                            <a class="page-link" href="{{path('restaurant_pagination',{'page':currentpage + 1})}}">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
            {% if restaurants | length > 0 %}
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <img class="imgBside" src="https://lorempixel.com/640/480/?60053%22%3E
                        <div class=" card-body"=" card-body""="card-body" "">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}