{% extends 'base.html.twig' %}
{% block title %}
    {% if user is same as(app.user) %}
        {% if user.fullName is not null %}
            Page de
            {{user.fullName}}
        {% endif %}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="user-account-wrapper d-flex flex-column">

        <div class="container d-flex flex-column justify-content-between">
            <div class="flx1 px-3">
                <h4>Mon profil</h4>
            </div>
            <div class="flx1 container user-account-header d-flex flex-row justify-content-between flex-wrap">
                <div class="flx1 mt-3">

                    <div class="d-flex flex-column" id=" user-avatar">
                        <div class="flex1"><img class="avatar-medium img-fluid w100" src="{{app.user.avatar}}" alt=" avatar de {{ app.user.fullName}}" srcset=""></div>

                        <div class="flex1 px-2">
                            <strong>
                                <h3>{{user.fullName}}</h3>
                            </strong>
                            <p>Email :
                                {{user.email}}</p>
                            <p>Téléphone :
                                {{user.phone}}</p>
                        </div>
                    </div>
                    <div class="w100">
                        <a href="#" class="list-group-item">Mes réservations</a>
                        <a href="#" class="list-group-item">Mes favories</a>
                        <a href="#" class="list-group-item">Mes abonnements</a>
                        <a href="{{path('account_info')}}" class="list-group-item">Modifier mes informations</a>

                    </div>
                </div>

                <div class="flx3 d-flex flex-column px-3 py-3">
                    {% if flagview == 'booking' %}
                        {% include 'user/user_bookings_list.html.twig' with {
                            'bookings' : user.getbookings()
                        }
 %}
                    {% endif %}
                    {% if flagview == 'info' %}
                        <div class="pt-5">
                            {{form_start(formInfo)}}
                            {{form_widget(formInfo)}}
                            <button type="submit" class="btn btn-primary">Modifier vos informations</button>

                            {{form_end(formInfo)}}

                            {{form_start(formpassword)}}
                            {{form_widget(formpassword)}}
                            <button type="submit" class="btn btn-primary">Modifier votre mot de passe</button>

                            {{form_end(formpassword)}}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}